<a href="https://colab.research.google.com/github/thfruchart/tnsi-2020/blob/master/Chap02/ACTIVIT%C3%89_pb_anniv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Paradoxe des anniversaires

Il y a au maximum 366 jours dans une année (bissextile).

Dans un groupe de $n$ personnes, la probabilité que deux personnes aient la même date anniversaire dépasse $1/2$ dès que $n \geq 23$.

On se propose de vérifier ce "paradoxe" en utilisant des **listes d'entiers**.

## générer une liste aléatoire de n entiers compris entre 1 et 366

On rappelle que le module random contient une méthode randint(a,b) qui retourne un nombre entier aléatoire compris entre a et b.

Compléter le code de la fonction genere_list(n) ci-dessous

In [1]:
from random import randint

def genere_list(n):
    ''' retourne un tableau de longeur n, 
    contenant des entiers choisis aléatoirement entre 1 et 366 inclus'''
    t = [0] * n  # tableau de n cellules initialisées à 0
    for i in range (n):
        t[i] = randint(1,366) # valeur à modifier !
    return t

In [5]:
from random import randint

def genere_list(n):
    ''' retourne un tableau de longeur n, 
    contenant des entiers choisis aléatoirement entre 1 et 366 inclus'''
    return [randint(1,366) for i in range (n)]

In [8]:
t = genere_list(5)

In [9]:
t

[251, 195, 303, 363, 281]

In [10]:
len(t)

5

Compléter le code de la cellule suivante aux endroits indiqués `###`

In [12]:
def detecte_doublon(t):
    '''t est un tableau d'entiers compris entre 1 et 366

    la fonction renvoie True si le tableau t contient deux fois la même valeur, 
    et False si t ne contient que des valeurs distinctes '''
    for i in range(1, len(t)):
        for j in range(i):
            if t[i] == t[j]:
                return True 
    return False

**Tester la fonction,** sur différents exemples bien choisis

In [13]:
detecte_doublon([1,2,3,4,5,6])

False

In [14]:
detecte_doublon([1,2,3,4,5,6,1])

True

In [15]:
detecte_doublon([1,2,3,4,5,6,6])

True

In [16]:
detecte_doublon([1,1,3,4,5,6])

True

Pour évaluer la **rapidité d'exécution** de cette fonction, on va la tester "dans le pire des cas"
* pour un tableau "grand"
* qui ne contient pas de doublon

In [18]:
from time import perf_counter
t_test = [i for i in range(1,367)]

start = perf_counter() # début du chrono
detecte_doublon(t_test)
end = perf_counter()   # fin du chrono
print('test effectué en', (end-start)*1000,'ms' )

test effectué en 4.037886999867624 ms

# Estimation de la probabilité de doublon lorsque n=23

In [ ]:
def evalue_proba(n, taille):
    '''n : nombre de valeurs contenues dans une liste de l'échantillon
    taille : nombre total de liste générées dans l'échantillon
    
    La fonction retourne la fréquence des doublons dans un échantillon de taille listes contenant n valeurs chacunes '''
    nb_doublons = 0
    for i in range(taille):
        t = genere_list(n)
        if detecte_doublon(t):
            ###
    return ###

In [ ]:
evalue_proba(23,1000)

# Trier le tableau avant de tester les doublons

Il est possible d'améliorer la rapidité de detecte_doublon si le tableau est trié.

On peut utiliser pour cela la commande sorted(tab) qui retoune un tableau trié, contenant les même valeurs que tab, sans modifier tab.

In [ ]:
def detecte_doublon_tri(tab):
    '''t est un tableau d'entiers compris entre 1 et 366

    la fonction renvoie True si le tableau t contient deux fois la même valeur, 
    et False si t ne contient que des valeurs distinctes '''
    t = sorted(tab)
    for i in range(len(t)-1):
        ###
    return ###

In [ ]:
from random import shuffle
t = [1,2,3,4]
shuffle(t)
t

In [ ]:
from time import perf_counter
from random import shuffle

t_test =  [i for i in range(1,367)]
shuffle(t_test)

start = perf_counter() #début du chrono
detecte_doublon_tri(t_test)
end = perf_counter() #fin du chrono
print('test effectué en', (end-start)*1000,'ms' )